*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}
@mixin btnmix($pdn, $radius){
    background-color: #23A6F0;
    color: white;
    padding: $pdn;
    border: none;
    border-radius: $radius;
    font-size: 14px;
    font-weight: 700;
}
header{
    position: relative;
    max-width: 1200px;
    margin: auto;
}
.headercont{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: absolute;
    width: 100%;
    .iconbox{
        display: none !important;
    }
    h3{
        font-size: 24px;
    }
    div{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav{
            display: flex;
            gap: 20px;
            font-size: 14px;
            font-weight: 600;
        }
        button{
            @include btnmix(15px 30px, 5px)
        }
    }
}

.form-section{
    background-image: url(img/section1/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px;
    padding-top: 200px;
    color: white;
    .sect1cont{
            display: flex;
            max-width: 1200px;
            margin: auto;
            justify-content: space-between;
            align-items: center;
        }
    aside{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 450px;
        h1{
            font-size: 58px;
        }
        h4{
            font-weight: 500;
            font-size: 20px;
        }
        div{
            display: flex;
            gap: 15px;
            
            button:first-child{
                @include btnmix(15px 35px, 37px);
            }
            button:last-child{
                @include btnmix(15px 35px, 37px);
                background-color: rgba(255, 255, 255, 0);
                border: 1px solid white;
            }
        }
    }
}

.section2{
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    max-width: 1200px;
    margin: auto;
    gap: 10px;
    align-items: center;
    h2{
        font-size: 40px;
    }
    .ops{
        color: #737373;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    p{
        width: 35%;
    }
    .sect2cont{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        gap: 25px;
        .sect2card{
            display: flex;
            flex-direction: column;
            div{
                display: flex;
                gap: 25px;
                padding: 25px 50px;
                background-color: #8EC2F2;
                color: white;
                align-items: center;
                border-radius: 11px;
            }
            .sect2opsdiv{
                display: flex;
                flex-direction: column;
                background-color: white;
                align-items: start;
                border: 1px solid #A9D6FF;
                gap: 15px;
                p{
                    @extend .ops;
                    font-weight: 600;
                    width: 85%;
                    text-align: start;
                }
            }
        }
    }
}















@media (max-width: 500px) {
    header{
        padding: 20px;
    }
    .headercont{
        position: static;
        flex-wrap: wrap;
        gap: 25px;
        background-color: white;
        color: black;
        padding: 0;
        .iconbox{
            display: flex !important;
            gap: 25px;
            width: 30%;
        }
        div{
            justify-content: center;
            width: 100%;
            button{
            display: none !important;
        }
            nav{
                flex-direction: column;
                align-items: center;
                padding: 50px 0;
                color: #737373;
                font-size: 30px;
                gap: 35px;
            }
        }
    }
    .form-section{
        background-position: -400px;
        padding: 50px 0;
        .sect1cont{
            gap: 50px;
            flex-direction: column;
            aside{
                text-align: center;
                align-items: center;
                width: 100%;
                h1{
                    font-size: 40px;
                }
                h4{
                    font-size: 20px;
                    font-weight: 400;
                    width: 280px;
                }
                div{
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    .section2{
        h2{
            font-size: 30px;
        }
        p{
            width: 65%;
        }
        .sect2cont{
            flex-direction: column;
            .sect2card{
                .sect2opsdiv {  
                    p{
                        width: 100%;
                    }
                    .link{
                        color: #23A6F0;
                    }
                }
                
            }
        }
    }
}